<h1>Login</h1>
<%= form_tag '/authenticate' do %>
	<input type="text" name="email" placeholder="Email Address" />
	<br />
	<input type="password" name="password" placeholder="Enter your password" />
	<br />
	<button type="submit">Log in</button>
<%end%>
