<style>
.product {
    float: left;
    margin: 5px;
    padding: 15px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
} 
</style>

<% @product.each_with_index do |product, i| %>
	<% break if i == 9 %>
	<div class="product">
		<h3 style="text-align:center"><%= link_to product.name, product %></h1>
		<p>
			Category: <%= product.category %>
		</p>
		<p>
			Description: <%= product.description %>
		</p>
	</div>
<% end %>
