<!-- Check to see if the product has been sold -->
<% if @product.product_is_sold %>
	<h1>This item has been sold!</h1>
	<%= @product.name %> was sold for <%= @product.current_price %>

<!-- Check to see if the auction ended without the product being sold -->
<% elsif @product.auction_is_over %>
	<h2>This auction has ended!</h2>
	<%= @product.name %> was not sold!
<% end %>