Top Users

<!-- Could add users to a list and then sort them -->
<% @user.each_with_index do |user, i| %>
	<% break if i == 5 %>
	<section>
		<h3><%= link_to user.first_name, user %></h3>
			<%= "--------------------------------------------" %>
		</p>
	</section>
<% end %>