<div id="header">
<h1>Auction</h1>
</div>

<!-- User must be logged in, check for a session -->
<% if !session[:user_id] %>
	You must be logged in to review a user
	<br />
	<%= link_to "Log in", login_path %>

<% else %>
	<% reviewed = User.find(@id) %>
	<h1> Leave a Review for <%= reviewed.first_name%>! </h1>
	<%= render "form" %>
<% end %> 

<!-- Link to return to the product list -->
<div id="footer">
<%= link_to "Home", root_path %>
</div>